/* CSS styles for the quiz container */
#quiz-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* CSS styles for the question and answer elements */
#question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

#options {
  margin-bottom: 20px;
}

#options p {
  margin: 5px 0;
  color: #555;
}

/* CSS styles for the answer element */
#answer {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px; /* Updated font size */
  color: #008000;
}

/* CSS styles for the timer element */
#timer {
  font-size: 40px;
  font-weight: bold;
  color: #FF4500; /* Orange color */
  text-align: center;
  margin-top: 20px;
}

/* CSS styles for the start button */
#start-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#start-button:hover {
  background-color: #45a049;
}

#start-button:focus {
  outline: none;
}

/* CSS styles for the input container */
#input-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* CSS styles for the text box and start button in the input container */
#mcq-input {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

#start-quiz-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#start-quiz-button:hover {
  background-color: #45a049;
}

#start-quiz-button:focus {
  outline: none;
}

/* Mobile-friendly styles */
@media screen and (max-width: 480px) {
  #question {
    font-size: 20px;
  }

  #answer {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  #mcq-input {
    height: 100px;
  }
}
